body
{
	background-image: url('R.jpg');
	background-position-x: center;
    background-position-y: center;

}

	.login_div1 , .login_div2
	{
		background: rgb(147, 185, 235);
		padding: 10px;
		float: none;
		border-radius: 10px;
		font-family: cursive;
		height: 400px;
		font-size: 15px;
		color: black;
	}

.heading{
	font-size: 40px;
	font-weight: bold;
	color:rgb(0, 89, 255);
	font-family: 'Zen Kurenaido', sans-serif;
	
}